/* Your CSS Code here. */

body{
	
	
}
.item{
	background-color:pink;
	display:grid;
	grid-template-columns:repeat(6,1fr);
	grid-template-rows:repeat(3,180px);
	gap:10px;
	background-color:pink;
	margin:10px;
	padding:10px;
	border:10px solid green;
}
.item1{
	grid-column:span 2/auto;
	background-color:blue;
	border:3px dotted ;
}
.item2{
	grid-column:span 4/auto;
	background-color:green;
	border:3px dotted ;
}
.item3{
	background-color:chocolate;
	border:3px dotted ;
}
.item4{
	grid-column:span 2/auto;
	background-color:orange;
	border:3px dotted ;
}
.item5{
	
	background-color:chocolate;
		border:3px dotted ;
}

.item6{
	grid-column:span 2/auto;
	background-color:orange;
		border:3px dotted ;
}

.item7{
	
	background-color:chocolate;
		border:3px dotted ;
}

.item8{
	grid-column:span 2/auto;
	background-color:green;
		border:3px dotted ;
}

.item9{
	grid-column:span 2/auto;
	background-color:lightcyan;
		border:3px dotted ;
}

.item10{

	background-color:chocolate;
		border:3px dotted ;
}





